body{
    margin: 0;
    padding: 0;
    
}

.navbar{
    display:flex;
    justify-content: space-between;
    background-color: #cbadbb;
    align-items: center;
    position: sticky;
}

main{
    background-image: url("./images/output-onlinegiftools.gif");
}


ul{
    display:flex;
    list-style: none;
    gap:20px;
    margin-right: 20px;
}

a{
    text-decoration: none; /* removes underline */
  color: white;
  font-size: 2rem;
  font-family: 'Quicksand', sans-serif;
}

a:hover{
    color: #7c9ab0;
}

.logo {
  font-family: 'Indie Flower', cursive;
  font-size: 3rem;
  font-weight: 500;
  color: white;
  margin-left: 10px;
}

.intro-content{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem 4rem;
    border-radius: 20px;
}

h2{
    color: #3d7d9b;
    font-family: 'Indie Flower', cursive;
    font-size: 4.5rem;
    font-weight: bolder;
}

p{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #777393;
}

.button {

    font-family: 'Quicksand', sans-serif;
  background-color: #777393;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 25px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #5f5b75;
}

section{
    background-color: rgba(255, 255, 255, 0.5); /* white with 60% opacity */
}

/* Footer */
footer {
  background-color: #cbadbb;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
  color: white;
}

@media (max-width: 768px) {
  .intro-content {
    flex-direction: column;
    padding: 2rem;
  }

  .intro-content section {
    order: 2; /* Optional: keep text above the image */
  }

  .intro-content img {
    width: 100%;
    max-width: 300px;
    border-radius: 50%;
    height: auto;
    order: 1;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }
}